---
import Layout from "../layouts/Layout.astro";

const title = "Home";
const description = "Welcome to my website";
---

<Layout title={title} description={description}>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias sequi, veritatis incidunt deleniti voluptate deserunt non repellendus, labore...</p>
</Layout>
