---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import { BurgerButton } from "./index";
import "iconify-icon";
---

<header class="fixed top-0 z-10 self-center w-full px-6 py-2 max-w-7xl isolate">
  <nav class="flex items-center justify-between text-white grow">
    <div class="flex items-center gap-8 text-lg">
      <BurgerButton callback={() => {}} client:load />
      <h2><a href="/">{SITE_TITLE}</a></h2>
      <div class="hidden gap-6 sm:flex">
        <HeaderLink href="/">
          <span class="icon-[fa-solid--home]"></span>
          Home
        </HeaderLink>
        <HeaderLink href="/blog">
          <span class="icon-[mdi--blog-outline]"></span>
          Blog
        </HeaderLink>
        <HeaderLink href="/about">
          <span class="icon-[ix--about]"></span>
          About
        </HeaderLink>
      </div>
    </div>

    <button><a href="/tos/commissions">Commission Me!</a> </button>
  </nav>
</header>
